# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdatad*
*.swp
*.lock
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xcscmblueprint

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Other
*.DS_Store
